
<div class="post">
    <div class="header">
        <h1>post title</h1>

        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>
    <div class="info">
        <strong>Author</strong>
        <small>12.23.42</small>
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, non?</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, non?</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, non?</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, non?</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, non?</div>
</div>